asgiref==3.8.1
bandit==1.8.3
black==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
Django==5.1.6
gunicorn==23.0.0
idna==3.10
isort==6.0.1
Markdown==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
pbr==6.1.1
platformdirs==4.3.6
Pygments==2.19.1
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
setuptools==75.8.2
sqlparse==0.5.3
stevedore==5.4.1
stripe==11.6.0
typing_extensions==4.12.2
urllib3==2.3.0
